<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DisCon</title>
    <link rel="icon" href="/discon.png" type="image/png">

    
</head>
<body>
      <%- include("./includes/navbar.ejs") %>
      <%- include("./main/discon.ejs") %>
      <%- include("./main/trending.ejs") %>
      <%- include("./includes/footer.ejs") %>
</body>
</html>