body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #aaaaaa;

}


/* new - add question */

.new form{
    background-color: #666666;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 45%;
    margin: 4.5% 16% 3.5% 26%;
    padding: 3rem; 
    border-radius: 15px;  
    gap: 0.25rem;
}


.new form .form-group a{
    background-color: rgb(255, 162, 0); 
    color: #000;
    padding: 8px 16px;
    margin-right: 14rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.new form input{
    padding: 8px 16px;
    border: none;
    width: 80%;
    border-radius: 4px;
    outline: none;
}

.new form textarea{
    padding: 8px 16px;
    border: none;
    width: 80%;
    border-radius: 4px;
    outline: none;
}

.new form input[type="submit"]{
    border: none;
    background-color: #ffa200; 
    width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    color: #171717;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


/* edit */

.edit form{
    background-color: #666666;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 45%;
    margin: 7% 16% 3.5% 26%;
    padding: 1rem 2rem; 
    border-radius: 15px;  
    /* gap: 1rem; */
}

.edit form .form-group{
    margin-top: 2rem;
}

.edit form .form-group a{
     background-color: #ffa200; 
    color: #000;
    padding: 8px 16px;
    margin-right: 14rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}

.edit form input{
    padding: 8px 16px;
    border: none;
    width: 80%;
    border-radius: 4px;
    outline: none;
}

.edit form  textarea{
    padding: 8px 16px;
    border: none;
    width: 80%;
    border-radius: 4px;
    outline: none;
}

.edit button[type="submit"]{
    background-color: #ffa200;
    border: none;
    width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    color: #171717;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}


/* read */

.read{
    background-color: #21201f;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 25vh;
    width: 71%;
    margin: 5% 14.7% 0 14.7%;
    padding: 3rem 0; 
    border-radius: 14px 14px 0 0 ;
}

.read .profile{
    /* background-color: rgba(23, 23, 23,0.3); */
    padding: 2rem;
    border-radius: 14px;
    max-width: 80%;
    margin-left: -5rem;
}

.read .profile .icon{
     display: flex;
     margin: 0.15rem;
    justify-content: space-between;
    
}

.read .profile .icon a{
    background-color: #ffa200; 
    color: #000;
    width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

}

.read .profile .user-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -0.15rem;
    gap: 0.25rem;
   

}

.read .profile .user-details i{
    font-size: 2rem;
}

.read .info{
    max-width: 80%;
    margin-left: -5rem;
}
.read .info p{
    font-size: 1.25rem;
}


.read .info .question{
    font-size: 2.5rem;
}

.favor-resist{
    width: 72.15%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0.40% 14.40%;
    padding: 5px;

     

}

.favor-resist-form{
    height: 400px;
    width: 100%;
    margin-right: 0.5rem;
}

.favor-resist-form{
    background-color:#666666;
    /* padding: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    border-radius: 2px;
}

.favor-resist-form form input{
    padding: 8px 16px;
    margin: 2rem 6rem;
    border: none;
    width: 80%;
    border-radius: 4px;
    outline: none;

}


.favor-resist-form form  textarea{
    padding: 8px 16px;
    margin: 0.25rem 6rem;
    border: none;
    width: 80%;
    border-radius: 4px;
    outline: none;

}

.favor-resist-form form button{
    background-color: #ffa200;
    border: none;
    width: 80px;
    padding: 5px 8px;
    margin-top: 1rem;
    margin-left:19rem ;
    margin-bottom: 2rem;
    border-radius: 4px;
    color: #171717;
    font-size: 1rem;
    cursor: pointer;
}


.favor-resist .user-favor{
     background-color:#666666;
     margin:1rem 0.5rem 2rem 0 ;
     color: #fff;
     padding: 2rem;
     width: 48%;
     border-radius: 0 0 0 14px;
     
    }
    
    .favor-resist .user-resist{
     width: 49.65%;
     background-color:#666666;
     margin:1rem 0 2rem 0.5rem;
     color: #fff;
     padding: 2rem;
     border-radius: 0  0 14px 0;

}
