<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
   <link rel="icon" href="/discon.png" type="image/png">


</head>
<body>

    <div class="discon-container">
        <div class="bgdc">

        </div>
        <div class="tag-line">
            <p class="concern">Discuss Concern </p><br>
            <h1>about</h1><br> 
            <p>Future Questions</p>

        </div>
        <div class="btns">
            <a href="#trending" class="read-btn">Questions</a>
           
        </div>
    </div>

</body>
</html>